
<img src="../../../../assets/images/flLogo.jpg" alt="Imagen no localizada" width="200">
<hr>
<ul class="list-group">
    <li routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" class="list-group-item">Inicio</li>
    <li routerLink="dashboard" routerLinkActive="active" class="list-group-item">Tablero</li>
    <li routerLink="tiendas" routerLinkActive="active" class="list-group-item">Tiendas</li>
    <li routerLink="categorias" routerLinkActive="active" class="list-group-item">Categorias</li>
</ul>



